<div class="min-h-screen bg-gray-50">
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="space-y-6">
      <app-task-list #taskList></app-task-list>
    </div>
  </main>
</div>

<!-- Task Form Dialog -->
<p-dialog
  header="Create New Task"
  [(visible)]="displayTaskDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="w-full max-w-md"
  [contentStyle]="{'padding': '0'}"
>
  <ng-template pTemplate="content">
    <app-task-form 
      (taskCreated)="onTaskCreated(); taskList.loadTasks()"
    ></app-task-form>
  </ng-template>
</p-dialog>

<!-- create task btn -->
<app-create-task-btn (createEvent)="showTaskDialog()"></app-create-task-btn>

<p-toast></p-toast>